body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #a6b3ff;
}

div{
    border: 2px solid #000;
    padding: 50px;
    border-radius: 30px;
    width: 600px;
    margin: 200px auto 0 auto;
    text-align: center;
    background-color: #d1d8ff;   
}

img{
    width: 200px;
}

@media only screen and (max-width: 860px){
    div{
        padding: 30px;
        width: 300px;
    }
    
    img{
        width: 100px;
    }

}

@media only screen and (max-width: 860px){
    div{
        width: 250px;
    }
    
    img{
        width: 80px;
    }

}